:root {
  --primary: #24bdff;
  --primary-text: rgba(0, 0, 0, 0.89);
  --primary-hover: rgb(60, 197, 255);
  --primary-focus: rgba(61, 197, 255, 0.8);
  --body-color: rgba(255, 255, 255, 0.8875);
  --body-color-full: rgba(255, 255, 255, 0.98);
  --body-bg: rgb(4, 15, 20);
  --nav-bg: rgb(7, 28, 38);
  --nav-border: rgb(9, 36, 49);
  --footer-text: rgba(255, 255, 255, 0.6);
  --item-bg: rgb(5, 17, 24);
  --item-bg-light: rgb(6, 19, 27);
  --item-border: rgba(13, 61, 82, 0.8);
  --focus-shadow: 0px 0px 0px 2px var(--primary-focus);
  --focus-shadow-thin: 0px 0px 0px 1px var(--primary-focus);
  --card-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

* {
  box-sizing: border-box;
}

a,
span,
div,
body,
button,
input,
img,
form,
h1,
h2,
h3,
h4,
h5,
h6,
code {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

button {
  appearance: none;
  background-color: transparent;
  line-height: 1.15;
  text-transform: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: "Jost", system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--body-color);
  background-color: var(--body-bg);
  font-size: 16px;
  line-height: 1.15;
}

h1,
h2,
h3,
.title {
  font-family: "Spartan", sans-serif;
}

.no-border {
  border: none !important;
}

/* container */
.container {
  margin: 0 auto;
  width: calc(100% - 24px);
}

@media only screen and (min-width: 601px) {
  .container {
    width: 95%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
  }
}

/* flex */
.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-grow {
  display: flex;
  flex-grow: 1;
}

.flex-center-full {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.flex-end {
  display: flex;
  align-items: flex-end;
}

/* margins */
.mt-sm {
  margin-top: 0.5rem;
}

.mb-sm {
  margin-bottom: 0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mb-2 {
  margin-top: 1.5rem;
}

.nav {
  background-color: var(--nav-bg);
  width: 100%;
  z-index: 100;
}

.nav.fixed {
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

.nav.shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.nav .logo {
  line-height: 0;
}

.nav .container {
  padding: 1rem 0;
}

.nav .navbar .container {
  padding: 0 !important;
}

.nav .nav-link {
  display: inline-block;
  padding: 0.65rem 1rem calc(0.6rem - 2px) 1rem;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.nav .nav-link.active {
  border-color: var(--primary);
}

.nav .nav-link:hover {
  text-decoration: none;
  color: var(--body-color-full);
}

.nav .search {
  display: flex;
  align-self: center;
  width: 100%;
  max-width: 400px;
  margin: 0 1rem;
}

/* .nav .nav-link:not(.nav-items:first-child) { margin-right: 1rem; } */
.nav .nav-border {
  background-color: var(--nav-border);
  height: 1px;
}

.nav .navbar .container {
  padding: 0.75rem 0;
}

.pageContent {
  margin-top: 1.5rem;
}

/* buttons */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.65rem 1.75rem;
  border-radius: 5px;
  font-weight: 700;
  line-height: 1.15;
  color: inherit;
  transition: box-shadow ease 0.115s;
}

.btn:hover {
  cursor: pointer;
}

.btn:focus {
  box-shadow: var(--focus-shadow);
}

.btn.outline {
  padding: calc(0.65rem - 1px) calc(1.75rem - 1px);
  border: 1px solid var(--primary);
}

.btn.outline:hover,
.btn.outline:focus {
  border-color: var(--primary-hover);
}

.btn.primary {
  background-color: var(--primary);
  color: var(--primary-text);
}

.btn.primary:hover {
  text-decoration: none;
  background-color: var(--primary-hover);
}

.btn.primary:focus,
.btn.primary:active {
  background-color: var(--primary-hover);
}

/* inputs */
.input {
  box-sizing: border-box;
  background-color: var(--body-bg);
  border: 1px solid var(--item-border);
  padding: calc(0.65rem - 1px) calc(1rem - 1px);
  border-radius: 5px;
  font-size: inherit;
  color: var(--body-text);
  transition: box-shadow ease-out 0.115s;
}

.input:focus {
  border-color: var(--primary-focus);
  box-shadow: var(--focus-shadow-thin)
}

.input.no-border:focus {
  box-shadow: var(--focus-shadow);
}

.input::placeholder {
  color: var(--footer-text);
}

.stacked {
  box-sizing: border-box;
}

.stacked .input {
  display: block;
}

.stacked .input:not(:last-child) {
  margin-bottom: 0.5rem;
}

.input.search {
  padding-left: 40px;
  background-image: url(https://cdn.flolon.dev/assets/icons/search_white_24dp.svg);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 9px;
}

/* forms */
.full-form {
  background-color: var(--item-bg);
  padding: 1rem;
  border-radius: 5px;
}

/* main */
main {
  min-height: calc(100vh - 4.5rem);
}

.title {
  font-weight: 500;
  font-size: 1.75rem;
}

.cards {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1.75rem;
}

.cards .card:not(:first-child) {
  margin-left: 0.75rem;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  border-radius: 8px;
  transition: box-shadow ease 0.115s;
}

.card::after {
  content: "";
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  box-shadow: var(--card-shadow);
  border-radius: 8px;
  transition: box-shadow ease 0.115s;
}

.card:hover::after {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.card:active {
  box-shadow: var(--focus-shadow);
}

.card img {
  max-width: 100%;
}

/* card overlays */
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.65rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.card-overlay.shadow {
  position: absolute;
  bottom: 0;
  padding: 1.25rem 0.65rem 0.85rem 0.65rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.31) 25%, rgba(0, 0, 0, 0.52) 45%, rgba(0, 0, 0, 0.86) 100%);
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.card-hover-overlay {
  opacity: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0.55rem;
  top: 0.55rem;
  white-space: nowrap;
  z-index: 20;
  padding: 0.45rem;
  background-color: var(--nav-bg);
  border-radius: 6px;
  transition: opacity ease-out 0.075s;
}

.card-hover-overlay .icon {
  max-width: 1.25rem;
}

.card:hover .card-hover-overlay {
  opacity: 0.97;
}

/* card meta */
.card .card-title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0.15rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card .author {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.78);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card .tags {
  margin-top: 0.75rem;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  margin-top: 0.25rem;
  margin-bottom: 0.2rem;
}

.tags a {
  display: inline-block;
  background-color: var(--item-bg);
  padding: 0.2rem 0.65rem;
  font-size: 0.75rem;
  border-radius: 10px;
  margin-right: 4px;
  margin-top: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.tags a:first-child {
  background-color: var(--body-color);
  color: var(--item-bg);
}

.tags a:not(:first-child) {
  text-transform: lowercase;
}

/* comic cards */
.comic-cards {}

.comic-cards .card {
  max-width: 175px;
}

img {
  border-radius: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.card .meta {
  background-color: var(--nav-bg);
  padding: 0.65rem;
  box-sizing: border-box;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  max-width: 100%;
}

/* video cards */
.video-cards {
  margin-bottom: 2rem;
}

.video-cards .card {
  max-width: 325px;
}

.video-cards .card img {
  /* 	border-radius: 8px; */
  height: auto;
}

.meta {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* .video-cards .tags a { margin-bottom: 0; margin-top: 4px; } */
.card .time {
  font-size: 14px;
  opacity: 0.92;
  padding: 1px 6px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 3px;
}

/* footer */
.footer {
  background-color: var(--nav-bg);
  color: var(--footer-text);
  font-size: 14px;
  margin-top: 1.5rem;
}

.footer .container {
  padding: 1rem 0;
}

.copy {
  color: var(--footer-text);
}