:root {
  --primary: #24bdff;
  --primary-text: rgba(0, 0, 0, 0.89);
  --primary-hover: #3cc5ff;
  --primary-hover-light: rgba(61, 197, 255, 0.9);
  --body-color: rgba(255, 255, 255, 0.8875);
  --body-color-full: rgba(255, 255, 255, 0.98);
  --body-bg: rgb(4, 15, 20);
  --nav-bg: rgb(7, 28, 38);
  --nav-border: rgb(9, 36, 49);
  --footer-text: rgba(255, 255, 255, 0.6);
  --item-bg: rgb(5, 17, 24);
  --item-bg-light: rgb(6, 19, 27);
  --item-border: rgba(13, 61, 82, 0.8);
  --active-shadow: 0px 0px 0px 2px rgba(27, 114, 151, 0.9);
}

.theme-black:root {
	--primary: #24bdff;
	--primary-text: rgba(0, 0, 0, 0.89);
	--primary-hover: #3cc5ff;
	--primary-hover-light: rgba(61, 197, 255, 0.9);
	--body-color: rgba(255, 255, 255, 0.8875);
	--body-color-full: rgba(255, 255, 255, 0.98);
	--body-bg: #000;
	--nav-bg: rgba(10, 10, 10, 1);
	--nav-border: rgba(17, 17, 17, 1);
	--footer-text: rgba(255, 255, 255, 0.6);
	--item-bg: rgb(0, 0, 0);
  --item-bg-light: rgb(10, 10, 10);
	--item-border: rgba(80, 80, 80, 0.75);
	--active-shadow: 0px 0px 0px 2px rgba(27, 114, 151, 0.9);
}

* {
  box-sizing: border-box;
}

a, span, div, body, button, input, img, form, h1, h2, h3, h4, h5, h6, code {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

button {
  appearance: none;
  background-color: transparent;
  line-height: 1.15;
  text-transform: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: 'Jost', system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--body-color);
  background-color: var(--body-bg);
  font-size: 16px;
  line-height: 1.15;
}

h1, h2, h3, .title {
  font-family: 'Spartan', sans-serif;
}

.no-border {
  border: none !important;
}

/* container */

.container {
  margin: 0 auto;
  width: calc(100% - 24px);
}

@media only screen and (min-width: 601px) {
  .container {
    width: 95%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
  }
}

/* flex */
.flex-center {
  display: flex;
  align-items: center;
}

.flex-grow {
  display: flex;
  flex-grow: 1;
}

.flex-center-full {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

/* margins */
.mt-sm {
  margin-top: 0.5rem;
}

.mb-sm {
  margin-bottom: 0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mb-2 {
  margin-top: 1.5rem;
}

.nav {
  background-color: var(--nav-bg);
  width: 100%;
  z-index: 100;
}

.nav.fixed {
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

.nav .logo {
  line-height: 0;
}

.nav .container {
  padding: 1rem 0;
}

.nav .navbar .container {
  padding: 0 !important;
}

.nav .nav-link {
  display: inline-block;
  padding: 0.65rem 1rem calc(0.6rem - 2px) 1rem;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.nav .nav-link.active {
  border-color: var(--primary);
}

.nav .nav-link:hover {
  text-decoration: none;
  color: var(--body-color-full);
}

.nav .search {
  display: flex;
  align-self: center;
  width: 100%;
  max-width: 400px;
  margin: 0 1rem;
}

/* .nav .nav-link:not(.nav-items:first-child) {
  margin-right: 1rem;
} */

.nav .nav-border {
  background-color: var(--nav-border);
  height: 1px;
}

.nav .navbar .container {
  padding: 0.75rem 0;
}

.pageContent {
  margin-top: 1rem;
}

/* buttons */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.65rem 1.75rem;
  border-radius: 5px;
  font-weight: 700;
  line-height: 1.15;
  color: inherit;
  transition: box-shadow ease 0.115s;
}

.btn:hover {
  cursor: pointer;
}

.btn:focus {
  box-shadow: var(--active-shadow);
}

.btn.outline {
  padding: calc(0.65rem - 1px) calc(1.75rem - 1px);
  border: 1px solid var(--primary);
}

.btn.outline:hover, .btn.outline:focus {
  border-color: var(--primary-hover);
}

.btn.primary {
  background-color: var(--primary);
  color: var(--primary-text);
}

.btn.primary:hover {
  text-decoration: none;
  background-color: var(--primary-hover);
}

.btn.primary:focus, .btn.primary:active {
  background-color: var(--primary-hover);
}

/* inputs */
.input {
  box-sizing: border-box;
  background-color: var(--body-bg);
  border: 1px solid var(--item-border);
  padding: calc(0.65rem - 1px) calc(1rem - 1px);
  border-radius: 5px;
  font-size: inherit;
  color: var(--body-text);
  transition: box-shadow ease-out 0.115s;
}

.input:focus {
  border-color: var(--primary-hover-light);
  box-shadow: var(--active-shadow);
}

.input::placeholder {
  color: var(--footer-text);
}

.stacked {
  box-sizing: border-box;
}

.stacked .input {
  display: block;
}

.stacked .input:not(:last-child) {
  margin-bottom: 0.5rem;
}

.input.search {
  padding-left: 40px;
  background-image: url(../icons/search_white_24dp.svg);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 9px;
}

/* main */
main {
  min-height: calc(100vh - 4.5rem);
}

.title {
  font-weight: 500;
  font-size: 1.75rem;
}

.cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  max-width: 235px;
  margin: 10px;
}

.card img {
  max-width: 100%;
}

/* footer */

.footer {
  background-color: var(--nav-bg);
  color: var(--footer-text);
  font-size: 14px;
  margin-top: 1.5rem;
}

.footer .container {
  padding: 1rem 0;
}

.copy {
  color: var(--footer-text);
}